<!DOCTYPE html>
        <html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}
        <link rel="stylesheet" href="{{ "/assets/css/picnic.min.css?v=" | append: site.github.build_revision | relative_url }}">
        <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <link rel="icon" href="/images/ielab-page001.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
<section class="flex five" style="max-width: 960px;margin: 32px auto">
<aside class="full fifth-1000">
    {% if site.logo %}
        <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" style="width: 64px"/></a>
    {% endif %}


    <p class="view"><a href="/">Home</a></p>
    <p class="view"><a href="/publications">Publications</a></p>
    <p class="view"><a href="/people">People</a></p>
    <p class="view"><a href="/projects">Projects</a></p>
    <p class="view"><a href="/posts">Posts</a></p>
    <p class="view"><a href="https://github.com/ielab">ielab on GitHub
        <small>github.com/ielab</small>
    </a></p>
    <p class="view"><a href="https://twitter.com/ielabgroup">ielab on Twitter
        <small>twitter.com/ielabgroup</small>
    </a></p>
</aside>
<article class="full four-fifth-1000">
{{ content }}
</article>
</section>
</main>
</body>
</html>