---
layout: default
---
<!-- @formatter:off -->
<div style="width: 120px; height: 120px;">
    {% if page.image == nil %}
    <img src="/images/blank-profile-picture.png" style="max-height: 100%; width: 100%; border-radius:50%; object-fit: contain">
    {% else %}
    <img src="{{ page.image }}" style="max-height: 100%; width: 100%; border-radius:50%; object-fit: cover">
    {% endif %}
</div>
<h1>{{ page.name }}</h1>
{% if page.website != nil %}
<a class="button" href="{{ page.website }}">Personal Website</a>
{% endif %}
{% if page.orcid != nil %}
<a class="button" href="https://orcid.org/{{ page.orcid }}">ORCID</a>
{% endif %}
{% if page.scholar != nil %}
<a class="button" href="{{ page.scholar }}">Google Scholar</a>
{% endif %}
{% if page.twitter != nil %}
<a class="button" href="{{ page.twitter }}">Twitter</a>
{% endif %}
{% if page.github != nil %}
<a class="button" href="{{ page.github }}">GitHub</a>
{% endif %}
{% for link in page.links %}
<a class="button" href="{{- link.url -}}">{{- link.name -}}</a>
{% endfor %}
<p>{{ page.description }}</p>

{% if page.twitter-timeline == true %}
<div class="flex one five-1000">
    <div class="four-fifth-1000">{{ content }}</div>
    <div>
        <a class="twitter-timeline" href="{{ page.twitter }}"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
{% else %}
{{ content}}
{% endif %}

<h2>Publications</h2>
{% assign publications = site.publications | sort:"year" | reverse %}
<ul>
{% for publication in publications %}
    {% assign author = site.people | where:'group', publication.authors %}
    {% assign path = page.id | split: "/" %}
    {% assign id = path[2] %}
    {% if publication.authors contains id %}
    <li>
        {%- assign i = 0 -%}
        {%- for involved in publication.authors -%}
            {%- assign found = false -%}
            {%- for person in site.people -%}
                {%- assign path = person.id | split: "/" -%}
                {%- assign id = path[2] -%}
                {%- if id == involved -%}
                    <a href="{{ person.id }}">{{ person.name }}</a>
                    {%- assign found = true -%}
                {%- endif -%}
            {%- endfor -%}
            {%- if found == false -%}
                {{ involved }}
            {%- endif -%}
            {%- assign i = i | plus: 1 -%}
            {%- assign l = publication.authors | size -%}
            {%- if i < l -%}
                {{- " and " -}}
            {%- endif -%}
        {%- endfor -%}.
        {{ publication.year }}.
        <a href="{{ publication.id }}">{{ publication.title }}</a>.
        In <em>{{ publication.venue }}</em>.
    </li>
    {% endif %}
{% endfor %}
</ul>