---
layout: default
---
<h1>{{ page.name }}</h1>
{{ content }}

<hr/>
<b>People involved:</b>
{% assign people = site.people | where:'group', post.people %}
<div class="flex four">
    {% for involved in page.people %}
    {% for person in site.people %}
    {% assign path = person.id | split: "/" %}
    {% assign id = path[2] %}
    {% if id == involved %}
    <div>
        <article class="card">
            <img src="{{ person.image }}">
            <footer>
                <a href="{{ person.url }}">{{ person.name }}</a>
            </footer>
        </article>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>